@model IEnumerable<LibManagement.Models.Fine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LateDayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LateDayRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
